<html>
    <head>
        <title>Convocation Betting</title>
        <style>
            th{
              border:1px solid black;
            }
            th, td {
              padding: 15px;
            }
            div {  
              padding-left: 25px;
            }  
        
          </style>
    </head>
    <body>
        <div>
            <h2>
                Bidding Formula    
            </h2>
            <p>
                You bid an amount : x <br>
                You vote for contestest A <br>
                <br>
                total money in favour of A (excluding your money) : total_money_A <br>
                likewise, total_money_B, total_money_C <br>
                <br>
                <b>Formula </b> <br>
                profit  = [x/(x+total_money_A)] * [total_money_B + total_money_C] <br>
                <br>
                <b>If your contestest loose</b>, you loose<br>
            </p>
        </div>
    </body>
</html>