<!DOCTYPE html>
<html>
   
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

      <title>Convocation Betting</title>
    </head>
  <style>
    th{
      border:1px solid black;
    }
    th, td {
      padding: 15px;
    }
    div {  
      padding-left: 25px;
    }  

  </style>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">CSE 2K16</a>
    </nav>

    <div>
    <br>
    <!--Form with multiple submit buttons-->
    <form action="" method="post">
          {% csrf_token %}
          {{bid_create_form}}
          <input type="submit" >
      </form>
      <br><hr><br>
      <h3> Current Winning Predictions</h3> 
      <p>
        * Enter the amount you want to bid.<br>
        * Get prediction, how much <b>additional</b> money you may make
      </p>
      <form action="" method="post">
        {% csrf_token %}
        {{calculation_form}}
        <input type="submit" name="do_calculation" value="Submit">
      </form>
      <br>
      {% if calculation_value %}
        If you bid an anount of ₹ {{calculation_amount}}
        <table>
          <tr>
            <th>Shreya</th>
            <th>Shubham Up.</th>
            <th>Raashid</th>
          </tr>
          <tr>
            <td>₹ {{etc_win_shreya}}</td>
            <td>₹ {{etc_win_shubham}}</td>
            <td>₹ {{etc_win_raashid}}</td>
          </tr>
        </table>
        * If you bid for Shreya, you may get <b>₹ {{etc_win_shreya}}</b> based on current scenario, <b>₹ {{etc_win_shubham}}</b> with Shubham Up., and <b>₹ {{etc_win_raashid}}</b> with Raashid
        <p>
          * <a href="{% url 'formula' %}">Bidding Formula</a>
        </p>
      {% endif %}
      <br><hr><br>
      <h3>Bids</h3>
      <p>❌ means bid is not verified, please contact any members of <a href="{% url 'croods' %}">croods</a> to get your bid verified</p>
      <p>✅ your bid is verified.</p>
      <br>
      <table>
        <tr>
          <th>Shreya Supporters</th>
          <th>Shubham Up. Supporters</th>
          <th>Raashid Supporters</th>
        </tr>
        <tr>
          <td style="vertical-align:top">{% include 'bids.html' with supporters=shreya_supporters %}</td>
          <td style="vertical-align:top">{% include 'bids.html' with supporters=shubham_supporters %}</td>
          <td style="vertical-align:top">{% include 'bids.html' with supporters=rashid_supporters %}</td>
        </tr>
      </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>