<html>
    <head>
        <title>Convocation Betting</title>
        <style>
            th{
              border:1px solid black;
            }
            th, td {
              padding: 15px;
            }
            div {  
              padding-left: 25px;
            }  
        
          </style>
    </head>
    <body>
        <div>
            <h2>
                Get your bid approved
            </h2>
            <br>
            <img src="https://i.postimg.cc/cH9fMY7k/cropped-qr.png" alt="7780984023@ybl">
            <p style="padding-left:15px"> Deposit  bid amount to above account, and notify anyone in below</b></p>
            <br>
            <div style="padding-left:15px; font-size:18px;">
                Shubham Goyal<br>
                Telegram - @shubhamgoyal<br>
                Mob - 7780984023<br>
            </div>
            <br>
            <div style="padding-left:15px; font-size:18px;">
                Moksh Mahajan<br>
                Telegram - @moksh_mahajan<br>
                Mob - 9086031210<br>
            </div>
            <br>
            <div style="padding-left:15px; font-size:18px;">
                Dundi Vamsi<br>
                Telegram - @rajavamsi<br>
                Mob - 8978406549<br>
            </div>
            <br>
            <div style="padding-left:15px; font-size:18px;">
                Tushar<br>
                Telegram - @tusharc2n<br>
                Mob - 7889428790<br>
            </div>
            <br>
        </div>
    </body>
</html>