<html>
    <head>
        <title>Convocation Betting</title>
    </head>
    <body>
        <h2>
            Get your bid approved
        </h2>
        <br>
        <img src="https://i.postimg.cc/cH9fMY7k/cropped-qr.png" alt="7780984023@ybl">
        <p style="padding-left:15px"> Deposit  bid amount to above account, and notify below</b></p>
        <br>
        <div style="padding-left:15px; font-size:18px;">
            Shubham Goyal<br>
            Telegram - @shubhamgoyal<br>
            Mob - 7780984023<br>
        </div>
        
        <br>
    </body>
</html>